<input type="hidden" name="{{ type }}_ids" value=""> 

<div class="position-relative" 
     hx-on:clear-{{ type }}-input="
        document.getElementById('{{ type }}-search').value = ''; 
        document.getElementById('{{ type }}-results').innerHTML = '';
     ">
     
    <input type="text" id="{{ type }}-search" name="q" class="form-control text-light border-secondary"
        placeholder="{% if type == 'tag' %}tagtype:tagname{% else %}Search or create {{ type }}s...{% endif %}"
        hx-get="/admin/taxonomy/search"
        hx-trigger="input changed delay:300ms, search"
        hx-vals='{"type":"{{ type }}"}'
        hx-target="#{{ type }}-results"
        hx-swap="innerHTML"
        autocomplete="off"
        onblur="setTimeout(() => { document.getElementById('{{ type }}-results').innerHTML = '' }, 200)"
        onfocus="if(this.value) htmx.trigger(this, 'search')">


    <div id="{{ type }}-results" class="position-absolute w-100 z-3 mt-1">
    </div>

    <div id="{{ type }}-chips" class="d-flex flex-wrap mt-3">
        {% if selected %}
        {% for item in selected %}
        {% set field_name = type + "_ids" %}
        {% include "admin/components/tag_chip.html" %}
        {% endfor %}
        {% endif %}
    </div>
</div>